# Ignore Python virtual environment
venv/

# Ignore PyCharm project settings
.idea/

# Ignore generated image folders
frames/
motion/
viewport_drawn/
viewport_cropped/

# Ignore generated video files
*.mp4

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore system-specific files
.DS_Store
Thumbs.db
